@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
}

table {
  margin-bottom: 2rem;
}
tr {
  vertical-align: baseline;
}
th, td{
  padding: .2rem .2rem .1rem .2rem;
  border-bottom: 1px solid #ddd;
  font-size: .9rem;
}
th {
  text-align: left;
}

.card-body{
  float:left;
  width:40%;
  height:50%;
  overflow:auto;
}
.virtual-div{
  width:100%;
  clear: both;
  display: block;
  content: ''
}
.common-bg {
  background: linear-gradient(to right, #00000015, #00000025);
  padding-left: 3rem;
}
.nav-bg {
  background: linear-gradient(to right, #005090A0, #137C7CA0);
  padding-left: 3rem;
}
.title {
  padding: 0px;
  background-color: #FFF;
  overflow: hidden;
  height:5rem;
}
.title-ci {
  float:left;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  margin: .75rem 1.5rem 1rem 2.3rem;
}
.title-item {
    float:left;
    color: #333;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    display: inline-block;
    margin-top: 1.6rem;
}
.right {
  display: inline-block;
  float: right;
  margin-right: 3rem;
  font-size: 1rem;
  //position: absolute;
  //right: 2em;
}

.header_menu {
  margin: 0 auto;
}

.menu {
  margin-top: 5rem;
  padding-left: 2rem;
}
.menu-link {
  padding-top: 1rem;
  padding-right: 1.5rem;
  //padding-bottom: .85rem;
  font-size: 1.1rem;
  color: #FFF;
}
.menu-link:hover {
  color: #003B8F;
}
.container {
  padding-top: 20px;
  padding-bottom:80px;
  min-height: 100%;
  min-width: 100%;
  text-align: center;
}
.card-popup-bg{
  clear: both;
  margin: 0 auto;
  width:20rem;
  background-color: #FFFFFFD5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
.card-bg {
  clear: both;
  margin: 0 auto;
  width:45rem;
  background-color: #FFFFFFD5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.footer {
  position: fixed;
  padding-left: 2em;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 55px; /* Vertically center the text there */
  background-color: #FFF;
  color:#888;
}
.footer-container {
  width: auto;
  padding: 0 15px;
}
.footer-container > p {
  font-size: .8rem;
  margin-left: .4rem;
  padding-top: .2rem;
  display: inline-block;
}
.footer-container > p.info {
  margin-left: 4rem;
}
